# the base url for assets for cdn purposes
# do not include trailing slash
ASSETS_BASE=

# whether to use multihub
VITE_USE_MULTIHUB=false

# if using multihub, the discovery endpoint must accept 'domain' param, and return client config
VITE_MULTIHUB_DISCOVERY=

# if not using multihub, provide the url to fetch client config
# https://github.com/CharlesWithC/HubBackend/blob/main/src/external_plugins/client-config.py
VITE_CONFIG_URL=https://<domain>/<prefix>/client/config/global