* {
    outline-width: 0;
    font-family: Montserrat, sans-serif
}

@font-face {
    font-family: Montserrat;
    src: url(https://cdn.chub.page/assets/montserrat/webfonts/Montserrat-Regular.woff2) format('woff2')
}

@font-face {
    font-family: Montserrat;
    src: url(https://cdn.chub.page/assets/montserrat/webfonts/Montserrat-Italic.woff2) format('woff2');
    font-style: italic
}

@font-face {
    font-family: Montserrat;
    src: url(https://cdn.chub.page/assets/montserrat/webfonts/Montserrat-Bold.woff2) format('woff2');
    font-weight: 700
}

@font-face {
    font-family: Montserrat;
    src: url(https://cdn.chub.page/assets/montserrat/webfonts/Montserrat-BoldItalic.woff2) format('woff2');
    font-weight: 700;
    font-style: italic
}