.inputWrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 16px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	border-radius: 4px;
	border: #e1e4e8 solid 1px;
	-webkit-transition: border-color .2s ease-in-out;
	transition: border-color .2s ease-in-out;
	padding: 4px 8px;
}

.tag {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 4px;
	margin: 2px;
	padding: 4px 8px 4px 8px;
	-webkit-transition: none;
	transition: none;
	background-color: #4f545c;
	color: #f6f6f7;
}

.inputInner {
	background: none;
	border: none;
	padding: 4px;
	height: unset;
	min-width: 100px;
	max-width: fit-content;
	outline: none;
}

.inputDefault {
	padding: 10px;
	height: 40px;
}

.dot {
	height: 15px;
	width: 15px;
	background-color: skyblue;
	border: blue solid 2px;
	border-radius: 50%;
	display: inline-block;
}

.dot-small {
	height: 10px;
	width: 10px;
	background-color: skyblue;
	border: blue solid 1px;
	border-radius: 50%;
	display: inline-block;
}

.dot-area {
	height: 50px;
	width: 50px;
	background-color: red;
	opacity: 50%;
	border-radius: 50%;
	display: inline-block;

}

tr {
	border: solid #888;
	border-width: 1px 0;
}

thead > tr {
	border: none;
}