.loader {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .loader {
    display: inline-block;
    animation: spin 2s ease-in-out infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .loader.paused {
    animation-play-state: paused;
  }

  .loader.paused::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: pulse 4s ease-in-out infinite;
  }

  @keyframes pulse {
    0% {
      transform: scale(0);
      opacity: 1;
    }

    50% {
      opacity: 0.5;
    }

    100% {
      transform: scale(1.5);
      opacity: 0;
    }
  }
}

.loading-div {
  text-align: center;
  background-color: #252525;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}