.loader {
  width: 100px;
  height: 100px;
  pointer-events: none;
}

.sidebar-banner {
  width: calc(100% - 20px);
  margin: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .loader-animated {
    animation: loader 1s infinite;
  }

  @keyframes loader {
    0% {
      transform: scale(1);
      opacity: 1;
    }

    50% {
      transform: scale(1.2);
      opacity: 0.5;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.loading-div {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}