/* NOTE Use cdn.chub.page or similar */

@font-face {
    font-family: "Open Sans";
    src: url(../public/fonts/opensans/OpenSans-Regular.woff2) format('woff2')
}

@font-face {
    font-family: "Open Sans";
    src: url(../public/fonts/opensans/OpenSans-Italic.woff2) format('woff2');
    font-style: italic
}

@font-face {
    font-family: "Open Sans";
    src: url(../public/fonts/opensans/OpenSans-Bold.woff2) format('woff2');
    font-weight: 700
}

@font-face {
    font-family: "Open Sans";
    src: url(../public/fonts/opensans/OpenSans-BoldItalic.woff2) format('woff2');
    font-weight: 700;
    font-style: italic
}