@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800");
* {
  outline-width: 0;
  font-family: 'Nunito' !important;
}

.hover {
  position: relative;
  top: 30%;
  margin: 0 auto;
  text-align: center;
  width: 60%;
  transition: transform 300ms ease-in-out;
  transition: 600ms ease-in-out;
}

.hover:hover {
  transform: scale(1.1, 1.1);
  border: 2px #eee solid;
}

body {
  height: 100vh;
  width: 100vw;
  background: url("../images/bg.jpg") center/cover fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  height: 342.5px;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

#formContainer.toggle {
  height: 480px;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.formLeft {
  background: #fff;
  border-radius: 5px 0 0 5px;
  padding: 0 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formLeft img {
  display: block;
  width: 72px;
  border-radius: 50%;
}

.formRight {
  position: relative;
  overflow: hidden;
  border-radius: 0 5px 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.formRight:before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  background: url("/images/bg.jpg") center/cover fixed;
  -webkit-box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.formRight form {
  position: relative;
  width: 350px;
  padding: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
}

.formRight form header {
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
}

.formRight form header h1 {
  margin: 0;
  font-weight: 400;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.formRight form header p {
  margin: 5px 0 0;
  opacity: 0.5;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.formRight form section label {
  display: block;
  margin-bottom: 15px;
  position: relative;
}

.formRight form section label p {
  color: #fff;
  margin: 0 0 10px 0;
  font-weight: 600;
  font-size: 12px;
  opacity: 0.5;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.formRight form section label input {
  width: 100%;
  display: block;
  border: none;
  background: transparent;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 600;
}

.formRight form section label input:focus ~ .border {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.formRight form section label input:not(:placeholder-shown) ~ .border {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.formRight form section label .border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.formRight form section label:last-child {
  margin-bottom: 0;
}

.formRight form section button {
  background: #B30000;
  border: none;
  width: 100%;
  padding: 10px 0;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.formRight form section button:hover {
  background: #770202;
}

.formRight form footer {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.formRight form footer button {
  background: transparent;
  padding: 0;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  opacity: .5;
}

.formRight form footer button:hover {
  opacity: 1;
}

.formRight form.otherForm {
  top: 0;
  left: 0;
  position: absolute;
  background: #fff;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 0;
  padding: 25px 0;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.formRight form.otherForm header {
  color: #000;
  opacity: 0;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.formRight form.otherForm p {
  color: #000;
}

.formRight form.otherForm section {
  opacity: 0;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.formRight form.otherForm footer {
  border-top-color: rgba(0, 0, 0, 0.1);
  opacity: 0;
}

.formRight form.otherForm footer button {
  color: #000;
}

.formRight form.otherForm input {
  border-color: rgba(0, 0, 0, 0.1);
  color: #000;
}

.formRight form.otherForm .border {
  background: #000;
}

.formRight form.otherForm.toggle {
  width: 100%;
  padding: 25px;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.formRight form.otherForm.toggle header, .formRight form.otherForm.toggle section, .formRight form.otherForm.toggle footer {
  opacity: 1;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}